/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(13, 110, 253, 1) whitesmoke;
}

/*Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: whitesmoke;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(13, 110, 253, 1);
    border-radius: 20px;
    border: 3px solid whitesmoke;
}

.preformat {
    text-wrap: pretty;
    white-space: pre-line;
}

.now-playing-artwork-container {
    height: 60vh;
    align-self: self-start;
    padding-top: 32px;
    position: sticky;
    top: 20px;
}

@media (max-width: 768px) {
    .now-playing-artwork-container {
        position: static;
        margin-bottom: 20px;
    }
}

.router-text-link {
    color: inherit;
    /* match normal text */
    text-decoration: none;
    /* remove underline */
    cursor: text;
    /* normal text cursor */
}

.router-text-link:hover {
    color: var(--bs-link-color);
    /* Bootstrap's link color */
    text-decoration: underline;
    /* underline on hover */
    cursor: pointer;
    /* pointer cursor on hover */
}

.show-on-mobile {
    display: none;
}

@media (max-width: 767px) {
    .show-on-mobile {
        display: block;
    }
}

.hide-on-mobile {
    display: block;
}

@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}